@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* This is the style.css file for my 1st Milestone project
The design was implimented with mobile 1st in mind
so the styling has been designed with mobile devices 
in mind and then the layout changes using media quiries for largwer screen sizes*/

/*Contents
25 - Universal Styles
45 - css grid for home page
60 - Logo & Navigation
130 - Home Page
207 - css grid for About Page
232 - About Page
366 - css grid for projects page
398 - Projects Page
512 - css grid for Contact page
528 - Contact Page
613- Footer & Social Links
683 - Home Page Media Quiries
767 - About Me Media Quiries
846 - Projects Media Quiries
*/

/*Universal Styles*/
*{
  border:0px;
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
 height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  }

 /*css grid wrapper for index page*/
  .wrapper-index{
    display: grid;
    height: 100%;
    width:100%;
    gap: .2em;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 100px;
    grid-template-areas:
    "nav"
    "intro"
    "background"
    "footer"
}

/*Logo & Navigation*/
.nav-bar{
  width:100%;
  grid-column: span 4;
  background-color:#000;
  grid-area: nav;
 }

.nav-bar ul{
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.nav-bar li{
  display: inline-block;
}

.logo{
  margin-top: 15px;
  font-size: 100%;
}

.home{
  color:#fff;
    padding:20px;
    text-decoration: none;
}

.me{
  color:#fff;
    padding:20px;
      text-decoration: none;
}
.projects{
  color:#fff;
    padding:20px;
    text-decoration: none;
}
.contact{
  color:#fff;
    padding:20px;
  text-decoration: none;
}

span{
  padding-left: 10px;
}

.home a:hover{
  text-decoration: underline;
}

.me a:hover{
     text-decoration: underline;
}

.projects a:hover{
   text-decoration: underline;
}

.contact a:hover{
   text-decoration: underline;
}

.active{
  text-decoration: underline;
}

/*Home Page*/

.intro{
  background-image: url("https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: span 2;
  grid-row: span 2;
   grid-area: intro;
}

.profile-image-container{
background-image: url("https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: background;
    border-left: none;
  }


.profile-image {
  display:block;
  margin: auto;
  width: 55%;
  height: 55%;
  border-radius: 50%;
  margin-top: 12.5%;
  object-fit: none;
  }

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.index-intro-h1{
  margin-top: 12.5%;
  font-family: 'Pacifico', cursive;
  font-size: 250%;
   cursor: pointer;
  animation: fadeIn 2s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.intro h2{
  font-size: 250%;
    cursor: pointer;
  animation: fadeIn 4s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}


.intro h3{
  font-size: 250%;
   cursor: pointer;
  animation: fadeIn 6s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}


.intro h4{
  font-size: 250%;
  margin-bottom: 10%;
   cursor: pointer;
  animation: fadeIn 8s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}


/*css grid positioning for About Page*/

.wrapper{
  display: grid;
  height: 100%;
  width:100%;
  gap: .2em;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 110px ;
    grid-template-areas:
    "nav"
    "about"
    "languages"
     "hello"
     "footer"
  }


 .nav-bar{
    justify-content: center;
  }
  .footer{
    justify-content: center;
  }

  /*About Me Page*/

 h1 {
  text-align: center;
  font-size: 200%;
  color: #fff;
  font-family: 'Pacifico', cursive;
}

h2{
  text-align: center;
  font-size: 350%;
  color: #fff;
  font-family: 'Pacifico', cursive;
  margin-top: 20px;
}

h3{
  text-align: center;
  font-size: 200%;
  color: #fff;
  font-family: 'Pacifico', cursive;
}

h4{
  text-align: center;
  font-size: 200%;
  color: #fff;
  font-family: 'Pacifico', cursive;
}

p{
  color: #fff;
  font-weight: bold;
  font-size: 175%;
  padding: 10px;
}

.languages{
  grid-area:languages;
  background-image: url("https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #fff;
}

.html{
  margin: auto;
  font-size:300%;
  text-align: center;
  margin-top: 15px;
  }

.css{
  margin: auto;
  font-size:300%;
  text-align: center;
}

.javascript{
 margin: auto;
  font-size:300%;
  text-align: center;
  
}

.python{
  margin: auto;
  font-size:300%;
  text-align: center;
  margin-bottom: 25px;
}
  
.about{
  background-image: url("https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #fff;
  grid-column: 3/5;
  grid-area: about;
}

.about h2{
  padding: 15px;
  text-align: center;
}
.about p{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  font-size: 225%;
  margin-bottom: 25px;
}

.hello{
  background-image: url("https://images.pexels.com/photos/4709011/pexels-photo-4709011.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #fff;
  grid-area: hello
}

.hello h2{
  margin-top: 20px;
}

.hello p{
  text-align: center;
  font-size: 175%;
}

.button{
  background-color: #000;
  color: #fff;
  width: 100px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 15%;
  text-align: center;
}

.btn-container{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button:hover{
  background-color: #fff;
  color: #000;
  border: 4px solid #000;
}

/*css grid for projects page*/

 .wrapper-projects{
   display: grid;
   height: 100%;
    width: 100%;
    gap: .2em;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr .5fr 1fr .5fr 1fr .5fr 1fr 100px ;
    grid-template-areas:
      "nav"
    "project-intro"
    "p1-container"
    "p1"
    "p2-container"
    "p2"
    "p3-container"
    "p3"  
    "footer"
  }

.logo{
  display: none;
}

.nav-bar{
  justify-content: center;
 }
  .footer{
    justify-content: center;
  }

  /*Projects Page*/

.project-intro{
  grid-area: project-intro;
    background-image: url("https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #fff;
}

.project-intro h1{
  margin-top: 10px;
}
.project-intro p{
  margin-bottom: 10px;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  animation: fadeIn 2s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.project-1{
  grid-area: p1;
    background-image: url("https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #fff;
}

.project-1 p{
  text-align: center;
  padding: 15px;
  cursor: pointer;
  animation: fadeIn 2s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.project-img-1-container{
  grid-area: p1-container;
}

.project-img-1{
  display: block;
   width: 100%;
  height: 100%;
 }


.project-2{
  grid-area: p2;
   background-image: url("https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #fff;
}

.project-2 p{
  text-align: center;
  padding: 15px;
  cursor: pointer;
  animation: fadeIn 2s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.project-img-2-container{
  grid-area: p2-container;
}


.project-img-2{
  display: block;
  height: 100%;
  width: 100%;
 }

.project-3{
  grid-area: p3;
    background-image: url("https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #fff;
}

.project-3 p{
  text-align: center;
  padding: 15px;
  cursor: pointer;
  animation: fadeIn 2s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}


.project-img-3-container{
  grid-area: p3-container;
}


.project-img-3{
  display: block;
  height: 100%;
  width: 100%;
 }

 form.form-project{
  display: flex;
  justify-content: center;
 }


/*css grid for contact page*/

.wrapper-contact{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr 100px;
  gap: .2em;
  grid-template-areas: 
    "nav"
    "form"
    "background"
    "footer"
}

/*Contact Page*/

.form-container {
  background-image: url("https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: form;
}

.form-background{
  background-color: rgba(0, 0, 0, 0.6);
}


.form-item {
  padding: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-size: 20px;
}

h2{
  margin-right: 3%;
}
#fname {
  font-size: 18px;
  border: 2px solid #000;
  width: 45%;
}

#fname:hover{
  cursor: pointer;
  background-color:brown;
}

#lname {
  font-size: 18px;
  border: 2px solid #000;
  width: 45%;
}

#lname:hover{
  cursor: pointer;
  background-color:brown;
}

#email {
  font-size: 18px;
  border: 2px solid #000;
  width: 45%;
}

#email:hover{
  cursor: pointer;
  background-color:brown;
}


textarea {
  margin-top: 30px;
  width: 100%;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #000;
}

.submit {
  margin-top: 20px;
  margin-bottom: 10px;
  height: 50px;
  width: 200px;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
}

.submit:hover{
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

/*Footer & social links*/

.footer{
  position: relative;
  background-color: #000;
   grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #fff;
  }

.footer a{
  margin-right: 15px;
  }

.linkedin a{
  color:#fff;
  font-size: 200%;
  padding: 30px;
}

.facebook a {
  color:#fff;
  font-size: 200%;
  padding: 30px;
}

.instagram a{
  color:#fff;
  font-size: 200%;
  padding: 30px;
}

.twitter a{
  color:#fff;
  font-size: 200%;
  padding: 30px;
}

.copyright{
  position: absolute;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-size: 60%;
}

.linkedin a:hover{
   color: brown;
  font-size: 220%;
}

.facebook a:hover{
  color: brown;
    font-size: 220%;
  
}

.instagram a:hover{
   color: brown;
    font-size: 220%;
}

.twitter a:hover{
   color: brown;
    font-size: 220%;
}

/* Home Page Media Quiries*/  

@media screen and (min-width: 576px){
   .wrapper-index{
    display: grid;
    height: 100%;
    width:100%;
    gap: .2em;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 100px;
    grid-template-areas:
      "nav"
      "intro"
      "background"
      "footer"
   }
  .logo{
    display: block;
  margin-right: auto;
  color:#fff;
  text-decoration: none;
  }
  .home a:hover{
   text-decoration: underline;
}

.me a:hover{
     text-decoration: underline;
  
}

.projects a:hover{
   text-decoration: underline;
}

.contact a:hover{
   text-decoration: underline;
  }
}

@media screen and (min-width: 768px){
  .wrapper-index{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  display:grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto 1fr 200px;;
   gap:.2rem;
  grid-template-areas:
    "nav nav "
   "intro background"
    "footer footer"
 }
    .logo{
    display: block;
    margin-right: auto;
    color:#fff;
    text-decoration: none;
  }
 .home a:hover{
   text-decoration: underline;
}

.me a:hover{
   text-decoration: underline;
}

.projects a:hover{
  text-decoration: underline;
}

.contact a:hover{
   text-decoration: underline;
}

.index-intro h1{
  margin-top: 50%;
  font-size: 400%;
}
}
  

/* About Me Media Quiries*/  
@media screen and (min-width: 576px){
  .wrapper{
  display: grid;
  height: 100%;
  width:100%;
  gap: .2em;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 110px ;
    grid-template-areas:
      "nav"
      "about"
      "languages"
      "hello"
     "footer"
  }
 }
    .logo{
    display: block;
    margin-right: auto;
    color:#fff;
    text-decoration: none;
  }
    .home a:hover{
    text-decoration: underline;
}

.me a:hover{
     text-decoration: underline;
}

.projects a:hover{
    text-decoration: underline;
}

.contact a:hover{
   text-decoration: underline;
}


@media screen and (min-width: 768px){
  .wrapper{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr 150px;
   gap:.2rem;
  grid-template-areas:
    "nav nav nav nav"
   "about about about about"
   "languages languages languages languages"
    "hello hello hello hello"
    "footer footer footer footer"
 }
    .logo{
    display: block;
    margin-right: auto;
    color:#fff;
    text-decoration: none;
  }
    .home a:hover{
   text-decoration: underline;
}

  .me a:hover{
   text-decoration: underline;
}

.projects a:hover{
   text-decoration: underline;
}

.contact a:hover{
   text-decoration: underline;
}

/*Projects media quiries*/
@media screen and (min-width: 576px){
   .wrapper-projects{
    display: grid;
    height: 100%;
    width: 100%;
    gap:.2em;
     grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr 100px;
    grid-template-areas:
      "nav nav nav nav"
      "project-intro project-intro project-intro project-intro"
       "p1 p1 p1 p1-container"
        "p2-container p2 p2 p2"
        "p3 p3 p3 p3-container"
         "footer footer footer footer"
  }

    .logo{
  display: block;
  margin-right: auto;
  color:#fff;
  text-decoration: none;
  }
   .nav-bar{
    justify-content: center;
  }

  .footer{
    justify-content: center;
  }
    .home a:hover{
    text-decoration: underline;
}

.me a:hover{
     text-decoration: underline;
  
}

.projects a:hover{
   text-decoration: underline;
}

.contact a:hover{
   text-decoration: underline;
}
}

@media screen and (min-width: 768px){
    .wrapper-projects{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr 1fr 100px;
  gap:.2rem;
  grid-template-areas:
    "nav nav nav nav"
  "project-intro project-intro project-intro project-intro"
  "p1 p1 p1 p1-container"
  "p2-container p2 p2 p2"
  "p3 p3 p3 p3-container"
  "footer footer footer footer"
  }

  .logo{
  display: block;
  margin-right: auto;
  color:#fff;
  text-decoration: none;
  }
   .nav-bar{
    justify-content: center;
  }

  .footer{
    justify-content: center;
  }
    .home a:hover{
   text-decoration: underline;
}

.me a:hover{
     text-decoration: underline;
  }

.projects a:hover{
   text-decoration: underline;
}

.contact a:hover{
   text-decoration: underline;
}
}
}